# Video Game Sales Over The Years

***

In [10]:
#Necessary Packages
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
#Read in csv file containing video game data
dataset = pd.read_csv("game_sales_data.csv",encoding='latin1')
dataset.head()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
1,2,Super Mario Bros.,NES,Nintendo,Nintendo EAD,10.0,8.2,40.24,1985
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017

In [11]:
dataset.describe()

               Rank  Critic_Score   User_Score  Total_Shipped          Year
count  19600.000000   9969.000000  2223.000000   19600.000000  19600.000000
mean    9798.539133      7.034848     6.994872       0.551123   2007.789949
std     5658.110539      1.558968     1.517038       1.671466      6.326169
min        1.000000      0.800000     1.000000       0.010000   1977.000000
25%     4898.750000      6.100000     6.300000       0.050000   2004.000000
50%     9798.500000      7.300000     7.200000       0.160000   2008.000000
75%    14698.250000      8.200000     8.000000       0.460000   2012.000000
max    19598.000000     10.000000    10.000000      82.900000   2020.000000

### Dataset Information:
Using the table above we can see some information about the dataset. The "count" row shows us the number of rows under each column, the "mean" gives us the average value, "std" stands for standard deviation of values in each column, "min" shows the smallest value recorded, "25%" and "50%" and "75%" are all percentiles where "50%" is also called the median and lastly "max" stands for the largest value in each column.

After reading through this summary of the dataset I can see there are less rows under the columns "Critic_Score" and "User_Score" than the other three columns due to there being some values missing but since I'm mainly interested in sales I'm not too concerned. I can see there are 19600 rows of sales data and the "min" value under "Year" appears to be 1977 therefore I'm going to change my dataset to only look at sales from 1990 onwards since I don't have much interest in years before that.

In [16]:
#dataset.loc locates all the columns under Year and the locates all the values equal to or greater than 1990
dataset= dataset.loc[dataset.loc[:,'Year']>= 1990]
dataset.head()

,Rank,Name,Platform,Publisher,Developer,Critic_Score,User_Score,Total_Shipped,Year
0,1,Wii Sports,Wii,Nintendo,Nintendo EAD,7.7,8.0,82.90,2006
2,3,Counter-Strike: Global Offensive,PC,Valve,Valve Corporation,8.0,7.5,40.00,2012
3,4,Mario Kart Wii,Wii,Nintendo,Nintendo EAD,8.2,9.1,37.32,2008
4,5,PLAYERUNKNOWN'S BATTLEGROUNDS,PC,PUBG Corporation,PUBG Corporation,8.6,4.7,36.60,2017
5,6,Minecraft,PC,Mojang,Mojang AB,10.0,7.8,33.15,2010

Check that the new dataset goes back as far 1990:

In [21]:
#Min value of column 'Year'
np.min(dataset['Year'])

1990

In [24]:
#check how many rows of data we have now
dataset.count()

Rank             19391
Name             19391
Platform         19391
Publisher        19391
Developer        19389
Critic_Score      9941
User_Score        2213
Total_Shipped    19391
Year             19391
dtype: int64